
#logo {width: 30; height: 40;}


#navbar {margin-right: 90px; font-style: italic; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

footer {background-color: rgba(200, 200, 200, 0.632);margin-top: 50px; font-family: 'Times New Roman', Times, serif; font-weight: 800;}

img.link {width: 30; height: 28;}
